// page reset
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

// import montserrat font 500 & 700 weights
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

// font-family: 'Montserrat',
// sans-serif;
// import fraunces font 700 weight
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

// font-family: 'Fraunces',
// serif;
:root {
  font-size: 14px;
  // ### Primary
  --darkCyan: hsl(158, 36%, 37%);
  --darkerCyan: hsl(158, 36%, 15%);
  --cream: hsl(30, 38%, 92%);

  // ### Neutral
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --activec: hsl(158, 36%, 15%);

}

body {
  display: grid;
  margin: 1rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  background-color: var(--cream);
  place-content: center;
}

// utility
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flex-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  background-color: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  --content-padding: 1.5rem;
  --content-spacing: 1rem;
}

.product-content {
  border: 3px solid red;
  display: grid;
  gap: --product-spacing;
  padding: var(--content-padding);
}

.product-category {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.product-title {
  font-family: "Fraunces";
  font-size: 1.6rem;
  color: var(--darkCyan);
  line-height: var(--content-spacing);
}

.new-price {
  font-family: "Fraunces";
  color: var(--darkCyan);
  font-size: 1.3rem;
}

.button {
  background-color: var(--darkCyan);
  border-radius: 0.3rem;
  border: none;
  color: var(--white);
}

// .card {
//   width: 335px;
//   background-color: var(--white);
//   margin: 20px auto;
//   border-radius: 10px;
// }
//
// .pic img {
//   width: 335px;
//   height: 240px;
//   object-fit: cover;
//   border-top-left-radius: 10px;
//   border-top-right-radius: 10px;
//   margin: 0 auto;
// }
// .bottom {
//   padding: 1.5em 1.9em;
// }
// h1 {
//   font-family: "Montserrat", sans-serif;
//   font-weight: normal;
//   line-height: 2;
//   letter-spacing: 5px;
//   font-size: 1rem;
//   color: var(--darkGrayishBlue);
//   margin: 0.5em 0;
// }
// h2 {
//   font-family: "Fraunces";
//   font-size: 1.9rem;
//   line-height: 1;
//   color: var(--veryDarkBlue);
// }
// .description {
//   color: var(--darkGrayishBlue);
//   font-family: "Montserrat", sans-serif;
//   margin: 1rem 0;
//   line-height: 1.3;
//   // word-spacing: 0.1em;
//   letter-spacing: 0.1em;
//   font-size: 0.9rem;
// }
// .prices {
// border: 2px solid black;
// temporary for visualization
// }
// .new-price {
//   font-family: "Fraunces";
//   color: var(--darkCyan);
//   font-size: 2.5rem;
//   // float: left;
//   display: inline-block;
// }
// .old-price {
//   font-family: "Montserrat", sans-serif;
//   color: var(--darkGrayishBlue);
//   // float: right;
//   // display: inline-block;
//   font-size: 1em;
//   font-weight: normal;
//   text-decoration-line: line-through;
//   border: 2px solid black;
//   margin: 0 2em;
//   // padding-bottom: 2em;
//   // temporary for visualization
// }
// #add-cart {
//   text-align: center;
//   font-weight: bold;
//   margin: 2em auto 0;
//   background-color: var(--darkCyan);
//   color: var(--white);
//   width: 100%;
//   padding: 20px;
//   border-radius: 8px;
//   border: none;
// }
// button:hover {
//   cursor: pointer;
//   background-color: vaj;l'/;'//r(--darkerCyan);
//   color: var(--white);
// }
// button:active {
//   background-color: var(--darkerCyan);
// }
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

// @media only screen and (max-width: 2400px) {
//     body {
//         width: 100%;
//         height: 100vh;
//         background-color: var(--cream);
//     }
//     .card {
//         width: 600px;
//         height: 450px;
//         background-color: var(--white);
//         border-radius: 10px;
//         justify-content: center;
//         align-items: center;
//         margin: 130px auto;
//         align-content: center;
//         padding-bottom: 30px;
//     }
//     .pic {
//         img {
//             width: 300px;
//             position: relative;
//             // position: absolute;
//             height: 450px;
//             // margin: 0 auto;
//             // display: flex;
//             border-top-left-radius: 10px;
//             border-bottom-left-radius: 10px;
//         }
//     }
//     .product {
//         font-family: 'Montserrat', sans-serif;
//         line-height: 15px;
//         font-size: 12px;
//         margin: 15px 20px;
//         font-weight: 500;
//         letter-spacing: 5px;
//         color: var(--darkGrayishBlue);
//     }
//     .product-name {
//         font-family: 'Fraunces', serif;
//         font-size: 32px;
//         font-weight: 700;
//         margin: 0px 20px;
//         line-height: 32px;
//         color: var(--veryDarkBlue);
//     }
//     .discript {
//         font-family: 'Montserrat', sans-serif;
//         margin: 12px 20px;
//         line-height: 23px;
//         font-size: 14px;
//         width: 310px;
//         color: var(--darkGrayishBlue);
//         // padding-right: 20px;
//     }
//     .new-price {
//         font-size: 32px;
//         font-weight: 700;
//         font-family: 'Fraunces', serif;
//         margin: 30px 20px;
//         color: var(--darkCyan);
//     }
//     .old-price {
//         color: var(--darkGrayishBlue);
//         font-size: 13px;
//         font-family: 'Montserrat', sans-serif;
//         text-decoration: line-through;
//         position: absolute;
//         left: 50%;
//         top: 85%;
//     }
//     #add-cart {
//         width: 300px;
//         background-color: var(--darkCyan);
//         padding: 14px;
//         color: var(--white);
//         border: none;
//         border-radius: 8px;
//         display: flex;
//         margin: 0 auto;
//         justify-content: center;
//         align-content: center;
//         font-size: 14px;
//         font-family: 'Montserrat', sans-serif;
//     }
//     // utility
//     .rel {
//         position: relative;
//     }
//     .abs {
//         position: absolute;
//     }
//     // .cent {
//     //     justify-content: center;
//     //     align-items: center;
//     // }
//     .attribution {
//         font-size: 11px;
//         text-align: center;
//     }
//     .attribution a {
//         color: hsl(228, 45%, 44%);
//     }
// }
